body {
    font-family: helvetica, arial, sans-serif;
    font-size: 15px;
    width: 820px;
    padding: 0;
    margin: 0 auto;
    background-color: #421342;
    display: flex;
    flex-direction: column;
}

.header {
    position: fixed;
    top: 0px;
    width: 820px;
    margin: 0;
    z-index: 10;
    border-top: 25px solid #421342;
    border-bottom: 25px solid #421342;
}

header {
    display: flex;
    flex-flow: row nowrap;
    background-color:#Dbd6db;
    margin: 0 auto;
    padding: 0px;
    border-radius: 5px;
}

.leftheader {
    flex-basis: 30%;
    text-align: center;
}

.middleheader {
    flex-basis: 45%;
}
.middleheader h1 {
    margin: 40px 0 0 0;
    padding: 0;
}
.middleheader h2 {
    margin: 0 0 20px 0;
    padding: 0;
}
.rightheader {
    flex-basis: 35%;
    margin: auto;
    padding: 0 20px;
}

.rightheader a {
    text-decoration: none;
    color: black;
}

.rightheader a:hover {
    background-color: #421342;
    color: #Dbd6db;
}

.icons {
    width: 15px;
    margin: 0 10px;
}

.rightheader ul {
    list-style-type: none;
    font-size: 12px;
    border: 2px solid #C238C2;
    margin-right: 20px;
    background-color:white;
    padding: 10px;
    border-radius: 5px;
    line-height: 150%;
}

.rightheader li {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.headerpic {
    border-radius: 50%;  
    width:125px;  
    margin: 10px;
}

nav {
    width: 600px;
    margin: -15px 160px;
    box-shadow: 5px 5px;

}
nav ul {
    list-style-type: none;
    text-align: center;
    background: #C238C2;
    padding: 2px 0;
    margin: 0; 
}

nav li {
    width: 100px;
    display: inline-block;
    padding: 0 20px;
    margin: 0;
    text-decoration: none;
    background-size: auto 20px;
    text-align: center;  
}

.navlink {
    text-decoration: none;
    color: #Dbd6db;
    font-weight: bold;
    display: block;
}

.navlink:hover {
    background-color:#421342;
    color:#1985a1;
}

.filler {
    height:160px;
    background-color: #421342;
}

.main {
    width: 820px;
    background-color: #421342;
    margin: 20px 0 0;
    padding: 0px;
}

.maincontent {
    border-radius: 5px;
    margin: -25px 0 0;
    background: #Dbd6db;
    z-index: 8;
    padding: 40px 50px;
    text-align: justify;
}

.maincontent p {
    margin: 5px 0;
    padding: 1px;
}

.titleleft {
    padding: 7px;
    width: 200px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin: -0px 100px 0;
    background: #C238C2;
    box-shadow: 5px 5px;
    position: relative;
    z-index: 8;
}

.titleright {
    padding: 7px;
    width: 200px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin: -0px 500px 0;
    background: #C238C2;
    box-shadow: 5px 5px;
    position: relative;
    z-index: 7;
}

.story {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-evenly;
}

.storytext {
    background: #c5c3c6;
    font-size: 10px;
    width: 450px;
    padding: 0 20px;
    border-radius: 5px;
    text-align: justify;
}

.storyimg {
    padding: 0;
    margin: 0;
    max-width: 200px;
    border-radius: 5px;
    border: 2px solid #46494c;
}

cite {
    text-indent: 20px;
}

.sectioncontent {
    margin: 20px 30px 0;
    text-align: justify;
}

.studypic {
    height: 260px;
    float: left;
    border-radius: 5px;
    border: 2px solid #C238C2;
    margin: 10px 20px 0 0;
}

.idealjob {
    width: 220px;
    float: right;
    border-radius: 5px;
    margin: 14px 0 0 20px;
    border: 2px solid #C238C2;
}

.idealjob:hover {
    position:relative;
    left: 50px;
    width:500px;
    height:auto;
    display:block;
    z-index:6;
}

.seek {
    width: 50px;
    border-radius: 5px;
    border: 1px solid #C238C2;
    margin: 0 0 0 183px;
}
.thumbnail {
    width: 100px;
    height: auto;
}

.thumbnail:hover {
    position:relative;
    top:-25px;
    left:-35px;
    width:500px;
    height:auto;
    display:block;
    z-index:5;
}

.testlist {
    display: flex;
    flex-flow: row nowrap;
    border-radius: 5px;
    padding: 20px 100px;
}

.testcite {
    padding: 0 120px;
    font-size: 6px;
    margin: 0;
}

.testlist li {
    list-style-type: none;
    border: 2px solid #C238C2;
    border-radius: 5px;  
}

.h3test {
    transform: rotate(-90deg);
    padding: 0px;
    width: 200px;
    height: 20px;
    margin:auto -50px;
    text-align: center;
    background: #C238C2;
    color: #Dbd6db;
}

.testimgli {
    background-color: white;
}

.jobskillsdiv {
    display: flex;
    flex-flow: row;
}

.jobskillsinner {
    width: 400px;
    padding: 0 20px;
}

.jobskills {
    margin: 0;
    padding: 5px 5px 5px 20px;
    border-radius: 5px;
    background-color: #c5c3c6;
    font-size: 12px;
}

.maincontent h4 {
    border-top: 1px solid #C238C2;
    border-bottom: 1px solid #C238C2;
    margin: 12px 0 6px;
    padding: 2px 0px;
}

.maincontent h3 {
    border-top: 1px solid #C238C2;
    border-bottom: 1px solid #C238C2;
    margin: 15px 0 0 0;
    padding: 2px;
}

.grey {
    background-color: #c5c3c6;
    border-radius: 5px;
    padding: 5px;
    margin:10px 80px;
    text-align: center;
}

.grey blockquote, cite {
    padding: auto;
    margin: 0;
    font-size: 12px;
}

hr {
    background-color:#C238C2;
    height: 2px;
    border: 0;
}

.bossencounter {
    background-color: #c5c3c6;
    border-radius: 5px;
    padding: 10px 30px;
}

.encounterstage {
    display: flex;
    flex-direction: row;
}

.projectimg {
    width: 100px;
    float: left;
}

.projectimg:hover {
    position:relative;
    top:-25px;
    left:-35px;
    width:400px;
    display:block;
    z-index:5;
}

.projectcontent {
    margin: 0 20px;
}